# Economic Freedom Ranking 2019, fundamental analysis

### Importing libraries required to read file, manage data and plot graphs

In [8]:
import pandas as pd
import matplotlib as plt
import seaborn as sb

### Creating different Dataframes based on the requirements

In [25]:
# To plot the time series line plot of the results from function mov_median
efw_panel = pd.read_excel('efw-2019-master-index-data-for-researchers.xlsx',sheet_name = 'EFW Panel Data 2019 Report', usecols = 'D:E', header = 2)
efw_panel.dropna(axis = 0, how = 'any', inplace = True)

# To Plot bar chart that displays the Top Marginal Income Tax Rate for the top 20 countries that ranked highest in the Economic Freedom Index
top_mar = pd.read_excel('efw-2019-master-index-data-for-researchers.xlsx', sheet_name = 'EFW Index 2019 Report', usecols = 'D:E,N', header = 4)
top_mar.dropna(axis = 0, how = 'any', inplace = True)

#To scatter plot the relationship between "Reliability of Police" and "Business Cost of Crime" variables for all countries in the 2019 report
police_bus = pd.read_excel('efw-2019-master-index-data-for-researchers.xlsx', sheet_name = 'EFW Index 2019 Report', usecols = 'D,AB:AC', header = 4)
police_bus.dropna(axis = 0, how = 'any', inplace = True)

In [26]:
police_bus

      Countries  Reliability of police  Business costs of crime
0       Albania               6.824169                 6.215401
1       Algeria               6.101120                 6.737383
2        Angola               3.362069                 4.291197
3     Argentina               3.702924                 4.133832
4       Armenia               5.844935                 7.007654
...         ...                    ...                      ...
2100    Uruguay               4.835681                 4.351852
2101  Venezuela               1.818182                 1.363636
2102    Vietnam               5.882353                 6.000000
2104     Zambia               4.947368                 3.263158
2105   Zimbabwe               3.009259                 3.842593

[1803 rows x 3 columns]